* {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  body {
    background-image: url('./images/zhongj-bg.jpg');
  }
  
  #bigbox {
    width: 1000px;
    margin: 0 auto;
  }
  
  #banner {
    width: 100px;
    font-size: 0px;
  }
  
  #banner img {
    width: 1000px;
    height: 500px;
  }
  
  nav {
    background-color: #CCD0D9;
    width: 1000px;
    height: 60px;
  }
  
  nav a {
    text-decoration: none;
    line-height: 60px;
    margin-left: 50px;
    margin-right: 50px;
    color: #020C16;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #1a9be6;
  }